button {
  background-color: $primary-light;
  color: #fff;
  border: none;
  padding: $button-padding;
  border-radius: $border-radius;
  margin: 0.25rem;
  transition: opacity 0.2s, background-color 0.3s;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

/* spes litir fyrir flóðtakkann */
#flood-btn {
  background-color: red;

  &:hover {
    opacity: 0.8;
  }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  button {
    background-color: $primary-dark;
  }

  #flood-btn {
    background-color: darkred;
  }
}