#image-container {
  img {
    max-width: 100%;
    max-height: 300px;
    display: block;
    margin: 1rem auto;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px black;
    transition: box-shadow 0.3s;
  }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  #image-container img {
    box-shadow: 0 2px 6px black;
  }
}
