body {
  font-family: sans-serif;
  padding: 1rem;
}

#image-container img {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: 1rem auto;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px black;
  transition: box-shadow 0.3s;
}
