$text-light: black;
$primary-light: blue;
$bg-light: #fefefe;

/*  dark mode */
$text-dark: #f0f0f0;
$primary-dark: #0d6efd;
$bg-dark: #121212;

$padding: 1rem;
$button-padding: 0.5rem 1rem;
$border-radius: 0.375rem;
